.breadcrumbs {

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
    row-gap: .5em;

    font-size: clamp(12px, 3vw, 18px);
    line-height: 1.55;
    color: $colorGray;
    
    * {
        color: $colorGray;
    }

    // .breadcrumbs__item
    &__item {

        // .breadcrumbs__item_active
        &_active {
            color: $colorMain;
        }
    }
}
