
.catalog {

    // .catalog__title
    &__title {
    }

    // .product__content
    &__content {
        display: flex;
        align-items: flex-start;
        gap: 10px;
        @include clamp(margin-top, 32, 64);

        @media screen and (max-width: $breakpoint992) { 
            flex-direction: column;
        }
    }

    // .product__sidebar
    &__sidebar {
        flex: 0 0 300px;
        padding-right: 24px;

        @media screen and (max-width: $breakpoint992) { 
            flex: unset;
        }
    }

    // .product__body
    &__body {

        flex-shrink: 1;
        max-width: min(calc(100vw - 300px - 60px), calc(100% - 300px));
        padding-left: 32px;
        border-left: 1px solid $colorStroke;

        @media screen and (max-width: $breakpoint992) { 
            flex: unset;
            max-width: 100%;
            padding-left: 0;
            border-left: none;
        }
    }

    // .catalog__items
    &__items {
        @include clamp(margin-top, 32, 64);

        display: flex;
        flex-direction: column;
        @include clamp(gap, 16, 40);
    }

    // .catalog__item
    &__item {
        display: flex;
        flex-direction: column;
        gap: 14px;
    }

    // .catalog__category
    &__category {
        background: linear-gradient(107.11deg, transparent, rgba(255, 255, 255, 0.7) 66%, transparent);
        padding: 32px;
        border-radius: 16px;
        height: 190px;
        width: 100%;

        position: relative;
        overflow: hidden;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        * {
            color: $colorWhite;
            position: relative;
            z-index: 1;
        }
        
        &:hover {
            background-color: darken($color: $colorMain, $amount: 5) !important;
            .catalog__category-img {
                scale: 1.2;
            }
        }
    }

    // .catalog__category-title
    &__category-title {
        font-weight: 700;
        @include clamp(font-size, 16, 24);

        max-width: 687px;
    }

    // .catalog__category-btn
    &__category-btn {
        max-width: max-content;
    }
    
    // .catalog__category-img
    &__category-img {
        position: absolute;
        z-index: 0;
        width: 280px;
        height: auto;
        bottom: 0;
        right: 0;
        translate: 20% 50%;

        @media screen and (max-width: $breakpoint576) {
            width: 180px;
        }
    }

    // .catalog__subcategories
    &__subcategories {
        @include flexColumns(3, 8px);

        @media screen and (max-width: $breakpoint768) {
            @include flexColumns(2, 8px);
        }

        @media screen and (max-width: $breakpoint576) {
            @include flexColumns(1, 8px);
        }
    }

    // .catalog__subcategory
    &__subcategory {
        @include clamp(font-size, 12, 14);
        color: $colorGray;
        padding: 12px 32px;
        padding-right: 12px;

        border-radius: 12px;
        background: #EBEBEB;

        // @media screen and (max-width: $breakpoint768) {
        //     padding: 12px;
        // }

        &:hover {
            background: darken($color:  #EBEBEB, $amount: 7);
        }
    }
}

.catalog-sidebar {

    @media screen and (max-width: $breakpoint992) {
        width: 100%;
    }

    // .catalog-sidebar__title
    &__title {
        font-size: 24px;
        font-weight: 500;

        @media screen and (max-width: $breakpoint992) {
            display: none;
        }
    }

    &__nav {
        padding-bottom: 24px;
        border-bottom: 1px solid $colorStroke;

        @media screen and (max-width: $breakpoint992) {
            border-bottom: none;
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        li {
            font-size: 20px;
            font-weight: 600;
            line-height: 1.1;  

            @media screen and (max-width: $breakpoint992) {
                font-size: 14px;
            }

            & > ul {
                margin-left: 24px;
            }
        }
        
        a {
            display: flex;
            align-items: center;
            gap: 14px; 
            color: $colorMain;
        }

        .catalog-sidebar__back {

            @media screen and (max-width: $breakpoint992) {
                display: none;
            }
        }

        .catalog-sidebar__back-mobile {
            @media screen and (min-width: $breakpoint992) {
                display: none;
            }
    
            display: flex;
            align-items: center;
            
            gap: 14px;

            @include clamp(font-size, 14, 20);
            font-weight: 600;
            line-height: 1.1; 
        }
    }

    // .catalog-sidebar__items
    &__items {
        margin-top: 24px;

        display: flex;
        flex-direction: column;
        gap: 16px;

        @media screen and (max-width: $breakpoint992) {
            border-radius: 10px;
            margin-bottom: 16px;

            flex-direction: row;
            flex-wrap: wrap;
            margin-top: 0;

            &_open {
                outline: 1px solid $colorMain;
                position: relative;
                z-index: 8;

                .catalog-sidebar__item,
                .catalog-sidebar__item.catalog-sidebar__item_active {
                    display: block;
                }

                .catalog-sidebar__item_active a {
                    &::after {
                        content: '';
                        width: 14px;
                        height: 1px;
                        background: $colorMain;
                    }
                }
            }
        }

        a {
            font-size: 20px;
            line-height: 1.1;

            display: flex;
            align-items: center;
            gap: 18px;

            @media screen and (max-width: $breakpoint992) {
                padding: 0;
                font-size: 16px;
                font-weight: 500;
            }
        }

    }

    &__item {
        &_active {
            font-weight: 600;

            a {
                @media screen and (max-width: $breakpoint992) {
                    color: $colorMain;
                    background: #EBEBEB;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    &::after {
                        content: url(../img/droplist/arrow.svg);
                    }
                }
            }

            @media screen and (max-width: $breakpoint992) {
                order: -1;
                font-weight: 400;
            }
        }
        
    }

    &__btn {
        margin-top: 64px;

        @media screen and (max-width: $breakpoint992) {
            display: none;
        }
    }
}