@font-face {
                                    font-family: TTFirsNeue;
                                    font-display: swap;
                                    src: url("../fonts/TTFirsNeue-Black.woff2") format("woff2");
                                    font-weight: 900;
                                    font-style: normal;
                                }
@font-face {
                                    font-family: TTFirsNeue;
                                    font-display: swap;
                                    src: url("../fonts/TTFirsNeue-Bold.woff2") format("woff2");
                                    font-weight: 700;
                                    font-style: normal;
                                }
@font-face {
                                    font-family: TTFirsNeue;
                                    font-display: swap;
                                    src: url("../fonts/TTFirsNeue-BoldItalic.woff2") format("woff2");
                                    font-weight: 700;
                                    font-style: italic;
                                }
@font-face {
                                    font-family: TTFirsNeue;
                                    font-display: swap;
                                    src: url("../fonts/TTFirsNeue-ExtraBold.woff2") format("woff2");
                                    font-weight: 800;
                                    font-style: normal;
                                }
@font-face {
                                    font-family: TTFirsNeue;
                                    font-display: swap;
                                    src: url("../fonts/TTFirsNeue-BlackItalic.woff2") format("woff2");
                                    font-weight: 900;
                                    font-style: italic;
                                }
@font-face {
                                    font-family: TTFirsNeue;
                                    font-display: swap;
                                    src: url("../fonts/TTFirsNeue-ExtraBoldItalic.woff2") format("woff2");
                                    font-weight: 800;
                                    font-style: italic;
                                }
@font-face {
                                    font-family: TTFirsNeue;
                                    font-display: swap;
                                    src: url("../fonts/TTFirsNeue-DemiBoldItalic.woff2") format("woff2");
                                    font-weight: 600;
                                    font-style: italic;
                                }
@font-face {
                                    font-family: TTFirsNeue;
                                    font-display: swap;
                                    src: url("../fonts/TTFirsNeue-ExtraLight.woff2") format("woff2");
                                    font-weight: 200;
                                    font-style: normal;
                                }
@font-face {
                                    font-family: TTFirsNeue;
                                    font-display: swap;
                                    src: url("../fonts/TTFirsNeue-Italic.woff2") format("woff2");
                                    font-weight: 400;
                                    font-style: italic;
                                }
@font-face {
                                    font-family: TTFirsNeue;
                                    font-display: swap;
                                    src: url("../fonts/TTFirsNeue-Light.woff2") format("woff2");
                                    font-weight: 300;
                                    font-style: normal;
                                }
@font-face {
                                    font-family: TTFirsNeue;
                                    font-display: swap;
                                    src: url("../fonts/TTFirsNeue-LightItalic.woff2") format("woff2");
                                    font-weight: 400;
                                    font-style: italic;
                                }
@font-face {
                                    font-family: TTFirsNeue;
                                    font-display: swap;
                                    src: url("../fonts/TTFirsNeue-DemiBold.woff2") format("woff2");
                                    font-weight: 600;
                                    font-style: normal;
                                }
@font-face {
                                    font-family: TTFirsNeue;
                                    font-display: swap;
                                    src: url("../fonts/TTFirsNeue-ExtraLightItalic.woff2") format("woff2");
                                    font-weight: 300;
                                    font-style: italic;
                                }
@font-face {
                                    font-family: TTFirsNeue;
                                    font-display: swap;
                                    src: url("../fonts/TTFirsNeue-MediumItalic.woff2") format("woff2");
                                    font-weight: 500;
                                    font-style: italic;
                                }
@font-face {
                                    font-family: TTFirsNeue;
                                    font-display: swap;
                                    src: url("../fonts/TTFirsNeue-Medium.woff2") format("woff2");
                                    font-weight: 500;
                                    font-style: normal;
                                }
@font-face {
                                    font-family: TTFirsNeue;
                                    font-display: swap;
                                    src: url("../fonts/TTFirsNeue-Regular.woff2") format("woff2");
                                    font-weight: 400;
                                    font-style: normal;
                                }
@font-face {
                                    font-family: TTFirsNeue;
                                    font-display: swap;
                                    src: url("../fonts/TTFirsNeue-Thin.woff2") format("woff2");
                                    font-weight: 100;
                                    font-style: normal;
                                }
@font-face {
                                    font-family: TTFirsNeue;
                                    font-display: swap;
                                    src: url("../fonts/TTFirsNeue-ThinItalic.woff2") format("woff2");
                                    font-weight: 100;
                                    font-style: italic;
                                }
