/* -------- GLOBAL -------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $fontPrimary;
    color: $colorBlack;
}

*,
*::after,
*::before {
    transition: $quickTransition;
}

.container {
    max-width: calc($conteinerWidth + 4 * $containerPadding);
    width: 100%;
    margin: 0 auto;
    padding: 0 calc(2 * $containerPadding);

    @media screen and (max-width: $breakpoint576) {
        max-width: calc($conteinerWidth + 2 * $containerPadding);
        padding: 0 $containerPadding;
    }

    &_wide {
        max-width: calc(1410px + 4 * $containerPadding);
    }
}


html,
body {
    max-width: 100vw;
    min-height: 100vh;
    overflow-x: clip;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

main {
    .section {
        &:first-child {
            margin-top: clamp(50px, 8vw, 80px);
        }
    }
}

ul, ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

b, strong {
    font-weight: 600;
}

button {
    cursor: pointer;
    background: none;
}

.lock {
    overflow-y: hidden;
    overflow-x: hidden;
}

.lock-clip {
    overflow-y: clip;
    overflow-x: clip;
}

.btn {
    padding: 15px 20px;
    border-radius: 100px;
    border: 1px solid $colorWhite;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    font-size: 14px;
    line-height: 1.1;

    text-wrap: nowrap;

    &_up {
        svg {
            rotate: -90deg
        }
    }

    &_600 {
        font-weight: 600;
    }

    &_main {

        background: $colorMain;
        box-shadow: 0px 4px 50px rgba(62, 104, 170, 0.4);
        color: $colorWhite;
        border: none;

        &:hover {
            background: $colorGray;
            box-shadow: 0px 4px 50px $colorGray;
        }

    }
}

.slider-btn {
    width: 34px;
    height: 34px;
    flex-shrink: 0;
    border-radius: 50%;
    background: $colorGray;
    
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: $breakpoint768) {
        width: 24px;
        height: 24px;
    }

    &:hover {
        background: $colorMain;
    }

    &_white {
        background: $colorWhite;
    }
}

.mt-130 {
    margin-top: clamp(60px, 13vw, 130px);
}

.section {

    margin-top: clamp(60px, 13vw, 130px);

    display: flex;
    flex-direction: column;
    gap: clamp(32px, 5.2vw, 52px);

    // .section_hor
    &_hor {
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;

        .section__body {
            flex: 0 1 720px;

            @media screen and (max-width: $breakpoint992) {
                flex: unset;
            }
        }

        @media screen and (max-width: $breakpoint992) {
            flex-direction: column;
            gap: 32px;
        }
    }

    // .section__body
    &__body {
    }
}
