.container {

    // .container_wide

    &_wide {
    }
}

.hero {

    margin-top: 32px;

    * {
        color: $colorWhite;
    }


    &__inner {
        background: url(../img/hero/hero.png) center center / cover no-repeat;
        border-radius: 16px;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        padding: clamp(60px, 12vw, 120px) 0;

        @media screen and (max-width: $breakpoint992) {
            flex-direction: column;
            gap: 32px;
        }
    }

    // .hero__aside
    &__aside {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        @media screen and (max-width: $breakpoint992) {
            order: 2;
            
            .btn {
                max-width: max-content;
            }
        }
    }

    // .hero__content
    &__content {
        flex: 0 1 770px;
        display: flex;
        flex-direction: column;

        .text {
            max-width: 723px;
            margin-top: 1em;
        }

        @media screen and (max-width: $breakpoint992) {
            flex: unset;
        }
    }
}

