@mixin gradientText {
    background: $colorGradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.h1 {
    font-weight: 600;
    font-size: clamp(32px, 6.4vw, 64px);

    span {
        @include gradientText();
    }
}

.h2 {
    font-size: clamp(24px, 4vw, 40px);
    font-weight: 600;

    span {
        color: $colorMain;
    }
}

.text {
    font-size: clamp(16px, 3.2vw, 32px);
    line-height: 1.1;
}

.title {
    font-size: clamp(20px, 4vw, 40px);
    font-weight: 600;
    line-height: 1.1;
    text-align: center;
    background: $colorGradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}